@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: "Palatino Linotype", "Book Antiqua", Palatino,
  FreeSerif, serif !default;

// colors
$body-bg: #f9f9f9ff !default;
$body-color: #000 !default;
$link-color: #51483d !default;
$selection-bg: #26351c !default;

// headings
$presentation-heading-font: "Poppins", "Palatino Linotype", "Book Antiqua", Palatino,
  FreeSerif, serif !default;
$presentation-heading-color: #195186 !default;
$presentation-h1-font-size: 60pt;
/*-- scss:rules --*/

.reveal a {
  line-height: 1.3em;
}

.reveal h2 {
  color: #195186;
}

.title {
  text-align: left;
}

.subtitle {
  text-align: left;
  font-family: Lato;
  color: #195186;
}



.sticky-note {
  padding: 1em;
  margin: 1em 0;
  padding-left: 100px;
  min-height: 120px;
  color: #75658c;
  background-color: #dbceefab;
  border: solid 5px #d8c1f7;
  }
  


